<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>markdown</title>
    <link href="/static/css/prism.css" rel="stylesheet">
</head>
<body>
<h3>css显示:</h3>
<pre class="line-numbers"><code class="language-css">p { color: red }
</code></pre>
<h3>js显示:</h3>
<div style="width: 400px; height: auto;">
<pre class="line-numbers"><code class="language-json">{
  "questionnaireId": "f8v53d83qe",
  "questionnaireTitle": "问卷标题",
  "questions": [
    {
      "questionId": "feqfr13ftz",
      "name": "题目名称",
      "type": "R",
      "answer": "A",
      "scoreEnabled": "Y",
      "score": 10,
      "required": "Y",
      "options": [
        "选项1",
        "选项2",
        "选项3"
      ]
    }
  ]
}</code></pre>
</div>
<script src="/static/js/prism.js"></script>
</body>
</html>